<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Fecha y hora actual -->
  <div class="datetime-label ion-text-center">
    <div class="date">
      {{ currentDate }}
    </div>
    <div class="time">
      {{ currentTime }}
    </div>
  </div>

  <!-- Botón Play / Stop -->
  <div class="button-container">
    <ion-button shape="round" size="large" expand="block" color="primary" (click)="toggleLogging()">
      <ion-icon [name]="isLogging ? 'stop' : 'play'" slot="icon-only"></ion-icon>
    </ion-button>
  </div>

  <h3 class="log-title">
    {{'label.last.records' | translate}}
  </h3>

  <ion-list class="log-list">
    <ion-item *ngFor="let item of lastLogs">
      <ion-label>
        <h2 class="log-date">{{ formatDate(item.Timestamp) }}</h2>
        <p class="log-type">
          {{ item.IsActive ? ('label.start' | translate) : ('label.end' | translate) }}
          <span *ngIf="!item.IsActive && getTimeDiff(item)" class="bold-diff"> - {{ getTimeDiff(item) }}</span>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>